@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Roboto Mono', monospace;
}

.wrapper {
	margin: auto;
	max-width: 1200px;
}

.bg-shadow {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(3, 69, 131, 0.4);
	z-index: -1;
}
